@import "estilos";
main{    
    background: linear-gradient(0deg,$color-muy-claro, $color-claro);
    h1{
        
        text-align: center;
        padding: 8px;
    }
    section{
        margin: 10px;
        background: $color-claro;
        height: 350px;
        width: 250px;
        border: 0px solid $color-claro;
        border-radius: 10px;

        p{
            margin: 3px 5px;
            text-align: justify;
            font-size: 0.8rem;
            color: $color-oscuro;
        }
        

    }
    
}